.cover__link {
    position: relative;
    height: 740px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../../images/cover/rshd.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    text-decoration: none;
}
.cover__link:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    opacity: .3;
    transition: opacity linear .2s;
}
.cover__link:hover:before {
    opacity: .8;
}

@media (max-width: 1184px) {
    .cover__link {
        height: calc(100vw * 0.625);
        }
}
