.places {
   max-width: 984px;
   margin: 0 auto 92px;
}
@media (max-width: 1200px) {
    .places {
            max-width: 928px;
            margin: 0 auto 92px;
         }
}
@media (max-width: 994px) {
    .places {
            max-width: 720px;
            margin: 0 auto 90px;
        }
}
@media (max-width: 700px) {
    .places {
            max-width: 700px;
            margin: 0 0 auto 0;
         }
}